
@font-face {
  font-family: NTR;
  src: url(Fonts/NTR.ttf);
}

body {
  margin: 0;
  font-family: NTR;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(48, 44, 44);
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
